.home-page {
  .text-zone {
    margin: 5rem 0 0 6rem;
    // position: absolute;
    // left: 15%;
    // top: 50%;
    // transform: translateY(-50%);
    width: 80%;
    max-height: 90%;
  }

  h1 {
    color: #36b37e;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    animation: fadeIn 1s 800ms backwards;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #36b37e;
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      margin-top: -20px;
      left: 40px;
      // opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #36b37e;
      font-size: 18px;
      position: absolute;
      font-weight: 600;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #172b4d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    line-height: 1.8rem;
    animation: fadeIn 1s 1.8s backwards;
    width: 60%;
  }

  .flat-button {
    color: #36b37e;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #36b37e;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #36b37e;
      color: #fff;
      font-weight: 700;
    }
  }

  .header-illustration {
    width: 450px;
    height: 550px;
    position: absolute;
    top: -10%;
    opacity: 0.8;
    left: 63%;
  }

  .profile-picture {
    width: 20%;
    border-radius: 100%;
    position: absolute;
    left: 80%;
    top: 13%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .image {
    display: none;
  }

  .text-zone {
    top: 20%;
    margin-left: 3rem;
  }

  h1 {
    width: 100%;
  }

  h1::before,
  h1::after {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .home-page {
    .text-zone {
      // top: 10%;
      min-height: 0%;
    }
  }
}
